* {
  box-sizing: border-box;
}

body {
  background-color: #e5f4fd;

  padding: 20px;
  font-family: sans-serif;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 50px;
  word-break: break-all;
  color: #507fc7;
  font-family: 'bookman';
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #507fc7;
  padding: 10px;
  border-radius: 25px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #507fc7;
  overflow: auto;
  border-radius: 25px;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #5071c7;
}

/* Current/active navbar link */
.active {
  background-color: #5071c7;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.img {
  border-radius: 25px;
}

.about {
  text-align: left;
  font-size: 25px;
  /* border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 2% 2% 2% 2%; */
}

.headAboutme {
  text-align: center;
  text-rendering: 15%;
}

.headContacts {
  text-align: center;
}

.contactsFooter {
  position: fixed;
  bottom: 0;
  width: 76%;
  align-content: right;
}

.divSize {
  width: 700px;
  margin: 0 auto;
}
